{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="register mx-4">
        <h1>Register your account</h1>
        {{ include('components/_flash_messages.html.twig') }}
        {{ form_start(registrationForm) }}
            <div class="form-register">
                <div class="form-class">
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'email', 'placeholder': 'Email address'}}) }}
                </div>
                <div class="form-class">
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'password', 'placeholder': 'Password'}}) }}
                </div>
                <div class="form-class">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'agree'}}) }}
                    {{ form_label(registrationForm.agreeTerms, 'Agree terms') }}
                </div>
                <div class="form-class">
                    <button type="submit" class="btn submit">Register</button>
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
