{% extends 'base.html.twig' %}

{% block title %}Study{% endblock %}

{% block body %}
    <h1>Study</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ study.id }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ study.location }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ study.start ? study.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ study.end ? study.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('study_index') }}">back to list</a>

    <a href="{{ path('study_edit', {'id': study.id}) }}">edit</a>

    {{ include('study/_delete_form.html.twig') }}
{% endblock %}
